

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*{
    margin:0;
    padding:0px;
    box-sizing: border-box;
    /*border:1px solid black;*/
   
}

body{
    font-family: 'Poppins';
}


.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:10vh;
    background-color: rgb(255, 255, 255);
    position: sticky;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    position:fixed;
    top:0;
    left:0;
    width:100%

}

.logo{
    height:80px;
    width: 290px;
    margin:10px;

}
.menu-links{
   flex-direction:row ;
   display: flex;
   list-style: none;

}

.menu-links a{color:black;
    text-decoration: none;
    margin-right:50px;

}

a:hover{
    color:burlywood;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

.Home{
    padding:0px 20%;
    height:95vh;
    background: linear-gradient(90deg, rgba(255,254,254,1) 0%, rgba(157,159,160,1) 100%);
    display: flex;
    align-items: center;
    margin-top:50px;
}


.propic{
    height:50vh;
    object-fit: cover; 
    mix-blend-mode: multiply;
   
}

.Home, .contain{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.btn button{
    padding:10px 40px;
    border-radius: 40px;
    border:0px;
    font-size:15px;
    font-weight:bolder;
    font-family: 'Poppins';
    margin-right:10px;
}
button:hover{
    background-color: #050505;
    color:white;
    
}


.socailmedia{
    display: flex;
    justify-content: flex-start;
}
.sc{
    height:40px;
    padding-right:20px;
}

.text-section{
    padding-top:25%;


}


.text-section h1{
    color:orangered;
    font-size:30px;
}




/*-----------------------*/


/*--------------------------*/
/*about-me*/

.AboutMe{
    height:100vh;
    background: linear-gradient(to left, rgba(255,254,254,1) 0%, rgba(157,159,160,1) 100%);
    padding-top:150px;

}

.about-text{
    text-align: center;
    margin-bottom: 2%;
    
}

.about-text h5{
    font-weight: 100;
    font-size:19px;
}

.about-text h1{
    font-weight: bolder;
    font-size: 45px;
}

.about-image{
    margin:0% 5%;
    display: flex;
    flex-direction: row;
}

.propic2{
    height:68vh;
      object-fit: cover; 
    mix-blend-mode: multiply;
}

.para{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:20px;
}
span{
    color: orangered;
    font-size: 40px;
}

.highlight{
    font-weight: bolder;
    color:black;
    font-size: 25px;
}



/*---------skills page----------*/


.Skills{
    height:100vh;
    background: linear-gradient(90deg, rgba(255,254,254,1) 0%, rgba(157,159,160,1) 100%);
    
    padding-top:10%;
    margin-bottom: 0px;
}



.Skills h5{
    text-align: center;
    font-weight: 100;
    font-size:20px;
    
}
.Skills h1{
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
    margin-bottom: 40px;
}
.abt-container{
    gap:2rem;
    margin-bottom:2rem;
    margin-top:2rem;
}
.skill-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
  
.expriencesubtitle {
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
  }
.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}
  
.detailed-container {
    padding: 1.5rem;
    margin:auto;
    background: rgba(248, 246, 246, 0.869);
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;

  }
  
article {
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
    margin-bottom: 20px;
}
  
article .iconn {
    cursor: default;
    height:40px;
}

/*-------conatct page-------*/


.contact{
    height:100vh;
    background: linear-gradient(90deg, rgba(255,254,254,1) 0%, rgba(157,159,160,1) 100%);
    padding:100px;


}

.iconn{
    height:30px;
}
.contact h5{
    text-align: center;
    font-weight: 100;
    font-size:20px;
    
}
.contact h1{
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
    margin-bottom: 40px;
}

.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    background: (250, 250, 250);
    margin: 2rem auto;
    padding: 0.5rem;
    width:50%;
  }
  
.info{
    color:black;
    text-decoration: none;
    
}
.info:hover{
    color:black;
    text-decoration: none;
}
.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    
    gap: 0.5rem;
    margin: 1rem;
    
}
  
.contact-info-container p {
    font-size: larger;
    color: black;
    text-decoration: none;

  }
  
  .contact-icon {
    cursor: default;
  }
  
  .email-icon {
    height: 2.5rem;
  }
  
/* FOOTER SECTION */
  
footer{
    height: 20vh;
    margin: 0 1rem;
    
}

  
footer p {
    text-align: center;
}

.nav, 
.nav-links{
    display: flex;
}
.nav-links-container{
    display: flex;
    justify-content: center;
    height:10vh;
    margin-top: 18%;
}

#font{
    font-size:25px;
}


/*----projects--------*/


.projects{

    background: linear-gradient(to left, rgba(255,254,254,1) 0%, rgba(157,159,160,1) 100%);
    padding:150px;
}

.projects h1{
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
    margin-bottom: 40px;
}

.projects p{
    text-align: center;
    font-weight: 100;
    font-size:20px;
}

.icon {
    cursor: pointer;
    height: 2rem;
  }
  
  /* BUTTONS */
  
  .btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
  }
  
  .btn-color-1,
  .btn-color-2 {
    border: rgb(53, 53, 53) 0.1rem solid;
  }
  
  .btn-color-1:hover,
  .btn-color-2:hover {
    cursor: pointer;
  }
  
  .btn-color-1,
  .btn-color-2:hover {
    background: rgb(53, 53, 53);
    color: white;
  }
  
  .btn-color-1:hover {
    background: rgb(0, 0, 0);
  }
  
  .btn-color-2 {
    background: none;
  }
  
  .btn-color-2:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
  }
  
  .btn-container {
    gap: 1rem;
  }

.color-container {
    border-color: rgb(163, 163, 163);
    background: rgb(250, 250, 250);
  }
  
.project-img {
    border-radius: 2rem;
    width: 90%;
    height: 90%;
}
  
.project-title {
    margin: 1rem;
    color: black;
}
  
 .project-btn {
    color: black;
    border-color: rgb(163, 163, 163);
  }
  

.details-containerr {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
    width:30%;
}

.experience-details-container{
display: flex;
justify-content: center;
flex-direction: column;
flex:wrap;
}

.about-containers{
display: flex;
gap:2rem;
margin-bottom:2rem;
margin-top:2rem;

}

.article-container{
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}
